html {
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.56);
}

#header {
  width: 100%;
  height: 45px;
  background: #000000;
  display: grid;
  grid-template-columns: repeat(2, 4% 10%);
}

#logo {
  width: 35px;
  height: 35px;
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 50%;
}

#logo_text {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  padding-left: 10%;
}

#text {
  color: white;
  font-size: 3rem;
  text-align: center;
}

#content {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin: 10%;
}

#mainimage {
  height: 80%;
  width: 80%;
  padding-left: 15%;
}

#secondgrid {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(3, 25% 20% 30%);
}

#text1 {
  color: red;
  padding-top: 10%;
  font-size: 1.5rem;
}

#email {
  width: 80%;
  height: 20%;
  border-radius: 1.2rem;
  background-color: rgba(0, 0, 0, 0.322);
  color: white;
}

#password {
  height: 25%;
  background-color: #12602c;
  color: white;
  border-radius: 1.5rem;
}

#footer {
  background-color: #000000;
  color: white;
  height: 3rem;
  width: 80%;
  margin-left: 10%;
  font-size: 2rem;
}

@media (max-width: 914px) {
  #logo_text {
    width: 80%;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    padding-left: 30%;
    text-align: center;
  }
}

@media (max-width: 800px) {
  #logo_text {
    width: 80%;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    padding-left: 150%;
    text-align: center;
  }
  #content {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 2fr);
    margin: 10%;
  }
  #secondgrid {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(3, 3fr);
}
}
